

    <%- if false -%>
    <div class="row text_fields">
      <div class="sign_in small-12 large-12 columns">
        <h1 class="logo">Huddle Up</h1>

        <form class="boxes form small-12 medium-6 large-4  large-offset-4 columns">
          <label class="username ">Username or Email:</label><input class="user_field postfix radius  " type="text" name="Username"><br>

          <label class="password ">Password:</label> <input class="pass_field postfix radius" type="password" name="pwd">
        </form>

      </div>
    </div>

    <div class="row">
      <p class="alt_sign_in small-12 large-12 columns "><em>Or sign in with: Facebook</em><a href="#"><img src="http://idmil.org/_media/logos/facebook_icon_2011.png" alt="facebook" width="32" height="32"></a><em>or Twitter</em><a class = "twitter" href="#"><%= image_tag("twitter-bird-light-bgs.png", :size => "45x28", :alt => "Twitter") %></a></p>
    </div>
    <%- end -%>

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
<!-- <script src="jquery.backstretch.min.js"></script> -->

<script>
  // $.backstretch('epicB-ballcourt.jpg');
 </script>
