
<div class= "row">
  <div class= "small-12 large-centered columns panel huddles_framing">
    <h1>Huddle Up!</h1>

    <h3>How many people are you looking to play with?</h3>

    <%= render 'huddles/form' %>
  </div>
</div>
