
body{
  width:100%;
  height:100%;
  padding-top:0%;
  padding-bottom:0;
  background: url('epicB-ballcourt.jpg') no-repeat top center  fixed;
  background-size: 100%;
}

.logo{
  // font-family: 25px, 'scream';
  text-align: center;
  font-size:4em;
}
.sign_in_form{
  text-align: center;
  border-radius:4px;
}

form {
  text-align:center;
  padding-bottom: 0;
}
.has_form{
  text-align: center;
  padding-top: 4px;
  // margin: auto;
}
 @font-face {
  font-family: 'Marvel-Regular';
  src:url('Marvel-Regular.ttf');
  src:url('Marvel-Regular.ttf') format('embedded-opentype'),
    url('Marvel-Regular.ttf#icomoon') format('svg'),
    url('leaguegothic-regular-webfont.woff') format('woff'),
    url('Marvel-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
p{
  color:black;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
}
.top-bar-section > ul > .divider {
  border-left:none;
  border-right:none;
}

.huddles_framing{
  text-align: center;
  border-radius: 8px;
  height: 100%;

}
.all_huddles_framing{
  border-radius: 20px;
  margin-bottom: 20px;
}
.highlight{
  background: rgba(255,255,255, 1);
}
.huddles_highlight{
  background: rgba(255,255,255, 1);
  margin-bottom:20px;
}
.huddles{
  background: rgba(255,255,255, .90);
}
.panel{
  background: rgba(255,255,255, .90);
}
select#huddle_time_and_date_1i{
  display:inline;
  height: 18px;
  width: 100px;
}
select#huddle_time_and_date_2i{
  display:inline;
  height: 18px;
  width: 100px;
}
select#huddle_time_and_date_3i{
  display:inline;
  height: 18px;
  width: 100px;
}
select#huddle_time_and_date_4i{
  display:inline;
  height: 18px;
  width: 100px;
}
select#huddle_time_and_date_5i{
  display:inline;
  height: 18px;
  width: 100px;
}
.alert-box{
  text-align: center;
  background-color: white;
  border-radius: 8px;
}
.alert-box p {
    color: white;
}
.button{
  background-color: #5B92CF;
}
a{
  color: black;
}

.court_form{
  padding-top: 25px;
}
.center_text{
  text-align: center;
}
.registration_skill{
  padding-bottom: 20px;
}
li.has-form.guest_button a{
  background-color: #545F18;
  color: white;
}
.create_huddle{
margin-top: 50px;
}
.left_align{
  text-align: left
}
.link{
  color: #5B92CF;
}
.framing{
  border: 4px solid black;
  border-radius: 8px;
}
.right_align{
  align: right;
}
.joyride-content-wrapper p {
  color: white;
}
.simple_form_errors{
  font-size: 20px;
  color:red;
}
.form_padding{
  margin-bottom: 20px;
}
select#huddle_location_id{
  background-color: white;
  height: 60px;
  font-size: 14px;
}
.add_location_button{
  display: inline;
  color: #53ABFF;
}
.display_inline{
  display: inline;
}
.marginalizer{
  margin-bottom: 5px;
}
.currently_in_height{
  height:200px;
}
.space_filler{
  height:100%;
}
@media only screen and (max-width: 768px) {
  body{
    width:100%;
    height:100%;
    padding-top:0%;
    padding-bottom:0;
    background: url('mobile-court.jpg') no-repeat top center  fixed;
    background-size: 100%;

    }

  .logo{
    // font-family: 25px, 'scream';
    text-align: center;
    font-size:3em;
  }
}

