<div class="row">
  <div class="small-12 large-12 large-centered columns panel huddles_framing">
    <h4>Locations</h4>

    <div id="map" style="height: 400px;"></div>

  </div>
</div>
  <ul class="locations">

    <% @locations.each do |location| %>
      <%= render location %>
    <% end %>
  </ul>


  <ol class="joyride-list" data-joyride>
    <li data-id="map" data-class="custom so-awesome" data-text="Next">
      <h4>Street View</h4>
      <p>Click and drag the icon under the compass to a location to enter street view.</p>
    </li>
    <li data-id="map" data-button="Next">
      <h4>Exit Street View</h4>
      <p>(In street view)Click the small grey square at the top right to exit street view.</p>
    </li>
    <li data-button="End">
      <h4>Go Huddle Up!</h4>
      <p>Go checkout your city's beautiful basketball courts.</p>
    </li>
  </ol>
</div>


<%= javascript_include_tag "application" %>

<% content_for :javascript do %>
    <script type="text/javascript"
      src="//maps.googleapis.com/maps/api/js?sensor=true"></script>

    <%= javascript_tag do %>
      $(function() {
        var mapper = new ExampleApp.Mapper('#map');

        $('[data-latitude]').each(function(index, element) {
          mapper.addCoordinates(
            $(element).attr('data-latitude'),
            $(element).attr('data-longitude')
          );
      });

      mapper.render();
    });
    <% end %>
<% end %>

<script>
    $(function() {
      if ($('#search_value').attr('placeholder').length > 0) {
        var currentLocation = new ExampleApp.CurrentLocation();

        currentLocation.getLocation(function(location) {
          $('#search_value').attr('placeholder', location);
        })
      }
    });

  $(document).foundation('joyride', 'start');
</script>
