<%= Location %>


  <p>
    <strong>Address</strong>
    <%= @location.address %>
  </p>

  <p>
    <strong>Court Name</strong>
    <%= @location.court_name %>
  </p>


<h3>Nearby locations</h3>
<ul>
</ul>
